<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.staron.david.synonyms</string>
	<key>connections</key>
	<dict>
		<key>377C9EA0-1D59-47D6-812F-8B603C13D51B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66925CFB-213B-4F7E-8CB7-5165623DE9F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD357D0B-BFC9-4DE2-A45E-3291C62463B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66925CFB-213B-4F7E-8CB7-5165623DE9F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Staron</string>
	<key>description</key>
	<string>Display synonyms from synonyms.net</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Synonyms</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>synonyms</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting results, please wait...</string>
				<key>script</key>
				<string>python synonyms.py "{query}" "synonyms"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>synonyms</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD357D0B-BFC9-4DE2-A45E-3291C62463B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>66925CFB-213B-4F7E-8CB7-5165623DE9F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>antonyms</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting results, please wait...</string>
				<key>script</key>
				<string>python synonyms.py "{query}" "antonyms"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>antonyms</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>377C9EA0-1D59-47D6-812F-8B603C13D51B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>You should set "tokenid" and "uid" to your own userid and token, you can apply for them at http://www.synonyms.net/api.php
(there's a maximum / limit of 1000 query's per account per day)</string>
	<key>uidata</key>
	<dict>
		<key>377C9EA0-1D59-47D6-812F-8B603C13D51B</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>66925CFB-213B-4F7E-8CB7-5165623DE9F5</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CD357D0B-BFC9-4DE2-A45E-3291C62463B7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>tokenid</key>
		<string>&lt;your-token-here&gt;</string>
		<key>uid</key>
		<string>&lt;your-userid-here&gt;</string>
	</dict>
	<key>version</key>
	<string>2018.2</string>
	<key>webaddress</key>
	<string>david@staron.nl</string>
</dict>
</plist>
